.navBar {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.navImg,
.navImg img {
  height: 100%;
}

.navImg img {
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightblue;
}

.navButtons {
  display: flex;
  align-items: center;
}

.homeButton {
  background-color: transparent;
  border: none;
  color: #fbbc04;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.282px;
  cursor: pointer;
}

.loginButton {
  border: none;
  border-radius: 4px;
  background-color: #34aeff;
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.282px;
  padding: 0px 15px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}
